<!-- <center>
<form method="POST" action="/addpost"><br>
<table cellspacing="0" cellpadding="0" border=0>
	<tr>
	<td>-->
		<center>Share your thoughts...<br>
		<!-- parent_post_id: <input type="text" name="parent_post_id" size="48" value="{{parent_post_id}}"/><br> -->
		<input type="text" name="author" size="60" value="Your name"/><br>
		<input type="text" name="msg" size="60" value="Your Thoughts..."/><br>
		<font size=2>You can use the [b] and [/b] tags to enhance your description.</font>
		<!-- score: <input type="text" name="score" size="58" value="{{score}}"/><br> -->
		<!-- birth: <input type="text" name="birth" size="59" value="{{birth}}"/><br> -->
		<br><button style="border:0">Submit</button></center><br><br>
<!-- 	</td>
	</tr>
</table>
</form>
</center> -->