<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Inspiration Station</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css" /> 
</head>
<body>

<table width="100%" cellpadding="0" cellspacing="0">

	<tr><td height="40px" class="header">
		
	<center><table width="700px"><tr>
	<td><img src="../images/fancy.png"></td>
	<td><a href="/">CATEGORIES</a></td>
	<td><a href="/">ABOUT</a></td>
	<td><a href="/">CONTACT</a></td>

	</tr></table></center>	

	</td></tr>

	<tr><td height="2px" class="bar"></td></tr><!-- this is the dark gray bar -->

	<tr><td height="300px" class="upper">
	WELCOME TO <br> OOH, FANCY
	</td></tr>

	<tr><td height="2px" class="bar"></td></tr> <!-- this is the dark gray bar -->

	<tr><td class="content">
	<h1>Ooh, Fancy is a collection of <br>things we love to look at.</h1>
	Start by checking out a category.<br>
	If you'd like to participate, please do!<br>
	<b>There's no sign up required, no login, nothing!</b>
	<br>

		<br>
		<table align="center" width="750px" cellspacing="0" cellpadding="0">
			{{#category}}
				<tr height=150>
					<td width=150 bgcolor="dddddd"><center>
						<h1 class="cats">
							<a href=#>&#8595;</a> {{score}} <a href=#>&#8593;</a>
						</h1>
					</td></center>
					<td><center>
						<a href=/cat/{{id}}><h1 class="cats">{{name}}</h1></a>
						<p class="desc">{{descrip}}</p>
					</td></center>
				</tr>
				<tr>
				<td><hr></td>
				<td><hr></td>
				</tr>	
			{{/category}}
		</table>
	</td></tr>
</table>

</body>
</html>