<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Inspiration Station</title>
	<link rel="stylesheet" type="text/css" href="../../../stylesheets/style.css" /> 
</head>
<body>

<table width="100%" cellpadding="0" cellspacing="0">

	<tr><td height="40px" class="header">
		
	<center><table width="700px"><tr>
	<td><img src="../../images/fancy.png"></td>
	<td><a href="/">CATEGORIES</a></td>
	<td><a href="/about.html">ABOUT</a></td>
	<td><a href="/contact.html">CONTACT</a></td>

	</tr></table></center>	

	</td></tr>

	<tr><td height="2px" class="bar"></td></tr><!-- this is the dark gray bar -->
	<tr><td height="100px" class="upper-posttitle">
	{{#posts}} {{title}} {{/posts}}
	</td></tr>
	<tr><td height="2px" class="bar"></td></tr> <!-- this is the dark gray bar -->

	<tr><td class="content">
		<img src="{{#posts}}{{url}}{{/posts}}" width="750px">

	 			<table border="0" width="750px" cellspacing="5" align="center">
				{{#replies}}
					<tr>
					<td width=150 bgcolor="dddddd"><center>
						<h1 class="cats">
							<a href="/{{parent_post_id}}/replydown/{{id}}">&#8595;</a> {{score}} <a href="/{{parent_post_id}}/replyup/{{id}}">&#8593;</a>
						</h1>
						</td></center>
						<td height="150px">
							
							<table height="100%" width="100%" border=0 cellspacing="0" cellpadding="0">
								<tr>
									<td>
										<p class="descrip">{{{msg}}}</p>
										<p class="author">-{{author}}</p>						 
									</td>
								</tr>
								<tr>
									<td class="birth">{{birth}}</td>
								</tr>
							</table>

						</td>
					</tr>
					<tr>
					<td><hr></td>
					<td><hr></td>
					
					</tr>	
				{{/replies}}
				</table>

{{{backlink}}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{{nextlink}}}
<center>
<hr width="750">
<form method="POST" action="/addreply/{{#posts}}{{id}}{{/posts}}"><br>
<table cellspacing="0" cellpadding="0" border=0>
	<tr>
	<td>
	{{{deadoralive}}}
	</td>
	</tr>
</table>
</form>
</center>
		<hr width="700px">
     <form method="POST" action="/sub_post/{{#posts}}{{id}}{{/posts}}">
        <font size="2" face="Helvetica"><center><h3>Subscribe to this post...</h3>
        
        Please enter either an email address <br>or phone number in the format +1XXXXXXXXXX<br>
        <input type="text" name="contact_info" size="30" value="Please enter your contact info" onclick='javascript: this.value = ""' /><br>
        <button style="border:0">Submit</button></center>
	  </form><br><br>



	</td></tr>
</table>

</body>
</html>


