<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Inspiration Station</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css" /> 
</head>
<body>

<table width="100%" cellpadding="0" cellspacing="0">

	<tr><td height="40px" class="header">
		
    <center><table width="700px"><tr>
    <td><img src="../images/fancy.png"></td>
    <td><a href="/">CATEGORIES</a></td>
    <td><a href="/about.html">ABOUT</a></td>
    <td><a href="/contact.html">CONTACT</a></td>

	</tr></table></center>	

	</td></tr>

	<tr><td height="2px" class="bar"></td></tr><!-- this is the dark gray bar -->

	<tr><td height="300px" class="upper">
	{{#category}} {{name}} {{/category}}

	</td></tr>

	<tr><td height="2px" class="bar"></td></tr> <!-- this is the dark gray bar -->

	<tr><td class="content">

        <center>
        
            <form method="GET" action="../delcat/{{#category}}{{id}}{{/category}}">
                {{{deletebutton}}}
            </form>
        </center>
    	
     			<table border="0" width="750px" cellspacing="5" align="center">
				{{#posts}}
					<tr>
					<td width=150 bgcolor="dddddd"><center>
						<h1 class="cats">
							<a href=/postdown/{{id}}>&#8595;</a> {{score}} <a href=/postup/{{id}}>&#8593;</a>
						</h1>
						</td></center>
						<td width=300>
							<center>
							<a href="/pagedpost/{{id}}/0">
							<div class="center-cropped" style="background-image: url('{{url}}');">
							</div>
							</a>
							</center>
						</td>
						<td>
							<p class="posttitle">
								<a href="/pagedpost/{{id}}/0">{{title}}</a>
							</p>
							<p class="descrip">{{{msg}}}</p>
							<p class="author">-{{author}}</p>					
							<p class="birth">{{birth}}</p>	 
						</td>
					</tr>
					<tr>
					<td><hr></td>
					<td><hr></td>
					<td><hr></td>
					</tr>	
				{{/posts}}
				</table>

<center>
<table cellspacing="0" cellpadding="0" width="700px">
	<tr>
	<td valign="top">

    <form method="POST" action="/addpost/{{#category}}{{id}}{{/category}}">
		<center><h4>Add a post...</h4>
		
		<input type="text" name="title" size="40" value="Please enter a title"/><br>
	  <input type="text" name="msg" size="40" value="Short description"/><br>
      <font size=2>You can use the [b] and [/b] tags<br> to enhance your description.</font><br><br>
		<input type="text" name="author" size="40" value="Your name"/><br>
		<input type="text" name="urladd" size="40" value="Url to an image"/><br>
		<br>
		<font size=2>Below is the death date... <br>This is not mandatory.<br>
		Sets the time at which the post will <br>expire and no longer accept replies.<br>
		</font>
		<br>
		
<select name="year" id="year" onchange="" size="1">
	<option value="">year</option>
  <option value="2014">2014</option>
  <option value="2015">2015</option>
  <option value="2016">2016</option>
</select>
<select name="month" id="month" onchange="" size="1">
    <option value="">month</option>
    <option value="01">January</option>
    <option value="02">February</option>
    <option value="03">March</option>
    <option value="04">April</option>
    <option value="05">May</option>
    <option value="06">June</option>
    <option value="07">July</option>
    <option value="08">August</option>
    <option value="09">September</option>
    <option value="10">October</option>
    <option value="11">November</option>
    <option value="12">December</option>
</select>
<select name="day" id="day" onchange="" size="1">
    <option value="">day</option>
    <option value="01">01</option>
    <option value="02">02</option>
    <option value="03">03</option>
    <option value="04">04</option>
    <option value="05">05</option>
    <option value="06">06</option>
    <option value="07">07</option>
    <option value="08">08</option>
    <option value="09">09</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
    <option value="31">31</option>
</select>
-
<select name="hour" id="hour" onchange="" size="1">
		<option value="">hour</option>
    <option value="01">01</option>
    <option value="02">02</option>
    <option value="03">03</option>
    <option value="04">04</option>
    <option value="05">05</option>
    <option value="06">06</option>
    <option value="07">07</option>
    <option value="08">08</option>
    <option value="09">09</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
</select>
<select name="minute" id="minute" onchange="" size="1">
		<option value="">minute</option>
    <option value="00">00</option>
    <option value="05">05</option>
    <option value="10">10</option>
    <option value="15">15</option>
    <option value="20">20</option>
    <option value="25">25</option>
    <option value="30">30</option>
    <option value="35">35</option>
    <option value="40">40</option>
    <option value="45">45</option>
    <option value="50">50</option>
    <option value="55">55</option>
</select>

<br>
		<br><button style="border:0">Submit</button></center><br><br>
</form>
	</td>
    <td valign="top">


     <form method="POST" action="/sub_cat/{{#category}}{{id}}{{/category}}">
        <font size="2" face="Helvetica"><center><h3>Subscribe to this category...</h3>
        <br>
        Please enter either an email address <br>or phone number in the format +1XXXXXXXXXX<br>
        <input type="text" name="contact_info" size="30" value="Please enter your contact info"/><br>
        <button style="border:0">Submit</button></center>
    </form>

    </td>
	</tr>
</table>

</center>



	</td></tr>
</table>

     

</body>
</html>


